body {
    font-family: 'Arial', sans-serif;
    background-color: #610c0c;
    color: #f7b2b2;
    margin: 0;
    padding: 20px;
    text-align: center;
    align-items: center;
}

h1 {
    color: #f39191;
    margin-bottom: 30px;
    align-items: center;
}

.flowchart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #460202;
    border: 2px solid #cf0f0f;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: hsl(345, 58%, 77%);
    color: #860202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

button:hover {
    background-color: #f18d85;
    align-items: center;
}